/*index*/
                           /*.carburando imagen principal, la puse mas grande*/
.carburando {
  width: 60%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: auto;
}
                            /*ahora responsive, mas pro*/
.videoautos {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 8px;
}

.autorojo {
  width: 600px;
  height: auto;
}

.autonegro {
  width: 575px;
  height: auto;
}

/*parrilla*/
.pilotos {
  width: 400px;
  height: auto;
  display: block;
  margin: auto;
}

.card-title {
  color: #c50000; /* rojo Ferrari */
  font-weight: 600;
}

/*calendario*/

.circuitos {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
}

/*nav bar*/
.nav-link:hover {
  color: #c50000 !important;
}

.navbar-brand {
  font-weight: 600;
}

/*titulod*/
h1, h2 {
  color: #c50000;
}

/*DIVISION*/

/* ---------- INDEX ---------- */
.header-principal {
  background-color: #433535;
  padding: 10px;
}

.nav-link, .navbar-brand {
  color: white;
  text-decoration: none;
}

.principal {
  text-align: center;
  padding: 20px;
}

.titulo-principal {
  color: red;
  margin-bottom: 20px;
}

.subtitulo {
  color: red;
  margin-top: 40px;
  margin-bottom: 20px;
}

.texto-intro {
  margin-bottom: 30px;
}

.foto-galeria {
  width: 100%;
  display: block;
  margin: auto;
}

.footer {
  text-align: center;
  background-color: #111;
  color: white;
  padding: 15px;
  margin-top: 50px;
}

/* ---------- CALENDARIO ---------- */

.circuitos {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.calendario-lista {
  margin-top: 30px;
  text-align: center;
}

.caja-carrera {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.mapa-seccion {
  text-align: center;
  margin: 40px 0;
}

.formulario {
  text-align: center;
  margin: 40px 0;
}

.formulario input {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 5px;
}

.formulario button {
  padding: 8px 20px;
  cursor: pointer;
}

/* ---------- PARRILLA ---------- */

.pilotos {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.lista-equipos {
  margin-top: 30px;
  text-align: center;
}

.caja-equipo {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 20px;
}

.formulario {
  text-align: center;
  margin: 40px 0;
}

.formulario input {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 5px;
}

.formulario button {
  padding: 8px 20px;
  cursor: pointer;
}
